settings((settingsUpdate)="restart()")

button.btn.btn-warning((click)='restart()') restart
button.btn.btn-danger((click)='quit()') quit
button.btn.btn-default((click)='viewCanvas()') View Appstract

